@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */

input[type="text"]:focus ~ .sticker,
input[type="text"]:valid ~ .sticker {
  @apply duration-300 transform -translate-y-4 text-xs ease-in-out;
}

input:focus ~ .sticker2,
input:valid ~ .sticker2 {
  @apply duration-300 transform -translate-y-4 text-xs ease-in-out;
}
/* animation notif from left to right */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

* {
  scrollbar-width: calc(0.2em + 0.2vw);
  scrollbar-color: #fafafa #1f2937;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
  height: 10px;
  margin-top: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border: none;
  /* border radius full */
  border-radius: 50px;
}

.active {
  @apply w-[200px] shadow-elevation-light-4 duration-300 ease-in-out;
}
.text-active {
  @apply block text-left;
}
.mati {
  @apply w-[60px] duration-300 ease-in-out;
}
/* .svg-active {
  @apply block ml-8;
} */
.toggle-active {
  @apply -right-[48px] top-0 -mt-1 bg-primary_600/90 rounded-r-lg absolute w-12 h-16 justify-center my-2 duration-300 ease-in;
}
.flexing-active {
  @apply flex flex-row bg-primary_600 ml-0 h-16 w-full duration-300 ease-in-out;
}
.gambar-active {
  @apply duration-100 ease-in-out w-10 h-10 rounded-full mx-6 my-auto block;
}
.activeAlert {
  @apply duration-100 ease-in-out transform translate-x-0 block;
}
.hideAlert {
  @apply duration-100 ease-in-out transform translate-x-full hidden;
}
.bungkus-active {
  @apply duration-300 ease-in ml-3 justify-start pl-3 w-[180px];
}
.span1-active {
  @apply transform transition duration-700 rotate-45 translate-x-0.5;
}
.span2-active {
  @apply transform transition duration-700;
}
.span3-active {
  @apply transform transition duration-700 -rotate-45 translate-x-0.5;
}
.putar-active {
  @apply mt-7 transform transition-all duration-500 origin-center overflow-hidden -rotate-180;
}

/* animation wave  0% left 100% rigy*/
