@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */

input[type="text"]:focus ~ .sticker,
input[type="text"]:valid ~ .sticker {
  @apply duration-300 transform -translate-y-4 text-xs ease-in-out;
}

input:focus ~ .sticker2,
input:valid ~ .sticker2 {
  @apply duration-300 transform -translate-y-4 text-xs ease-in-out;
}
/* animation notif from left to right */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

* {
  scrollbar-width: calc(0.2em + 0.2vw);
  scrollbar-color: #f3f4f6 #1f2937;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
  height: 10px;
  margin-top: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f3f3f3;
  border: none;
  /* border radius full */
  border-radius: 50px;
}

.active {
  @apply w-[200px] shadow-elevation-light-4 duration-300 ease-in;
}
.text-active {
  @apply block;
}
.toggle-active {
  @apply -right-[48px]  bg-primary_600/90 rounded-r-lg absolute w-12 h-12 justify-center my-2 duration-300 ease-in;
}
.flexing-active {
  @apply flex flex-row bg-transparent h-16 w-full duration-300 ease-in;
}
.gambar-active {
  @apply w-10 h-10 rounded-full mx-6 my-auto block;
}
.activeAlert {
  @apply duration-100 ease-in-out transform translate-x-0 block;
}
.hideAlert {
  @apply duration-100 ease-in-out transform translate-x-full hidden;
}
/* animation gambar-active  */

/* input[type="checkbox"]:checked ~ .check {
  @apply bg-neutral_050 shadow-elevation-dark-4;
}
input[type="checkbox"]:checked ~ .check::before {
  @apply transform translate-x-[50px];
}
input[type="checkbox"]:checked ~ .check::after {
  @apply transform translate-x-[0px];
} */

/* input[type="text"]: ~ .valid {
  @apply opacity-100;
} */
/* input notfocus */ ;
